.main-product-list{
    display: flex;
}
.section-title{
    width:50%;
}
.text {
    font-weight: bold;
    letter-spacing: 4px;
}
ul.main-products {
    display: flex;
    list-style: none;
    font-size: 15pt;
        padding: 35px 0px 0px 55px;;
}

.product-item-details {
    position: relative;
}

.actions-secondary {
    position: absolute;
    /* display: block; */
    top: -15px;
    right: 0;
}

.icon-toggle {
    display: none;
}

#tab12-new {
    margin: auto;
}

a#all-product:active {
    border-bottom-color: #606da6;

}

a.switch-featured-products {
    margin: 0px 0px 0px 17px;
}

a.switch-featured-products:hover {
    text-decoration: none;
    color:  #606da6;
    border-bottom:4px solid #606da6;
}

.topnavproducts { overflow: hidden;}
.main-products .nav-item .item-title.active .switch-featured-products {color:#606da6;border-bottom:4px solid #606da6 ;}
.main-products .nav-item .item-title.active .switch-featured-products{color:#606da6;border-bottom:4px solid #606da6 ;}
.topnavproducts a {
    display: block;
    color: #777;
    text-align: center;
    font-size: 14px;
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?vewzwf');
  src:  url('../fonts/icomoon.eot?vewzwf#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?vewzwf') format('truetype'),
    url('../fonts/icomoon.woff?vewzwf') format('woff'),
    url('../fonts/icomoon.svg?vewzwf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak:never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
i.icon-shopping-bag {
  font-size: 12pt;
  margin: -1px 5px -1px -4px;
}
.add-to-cart-luat {
  color: black;
}

.icon-shopping-bag:before {
  content: "\e906";
}
span.discount_percent {
    position: absolute;
    right: 15px;
    z-index: 2;
    top: 15px;
    padding: 5px 10px;
    background: #eb6f79;
    border-radius: 15px;
    color: #fff;
}
/* 
li.product-item {
    position: relative;
    text-align: center;
} */
.product-item .product-reviews-summary .reviews-actions {
  display: none;
}
.product-item .tocart {
  background-color: white;
    color: #777;
    border: 2px solid #e7e7e7;
    display: flex;
    align-items: center;
}

.product-item-info:hover .middle{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.product-item-detail {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-reviews-summary.short {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.product-item .product-reviews-summary .rating-summary {
    margin: unset;
    left: unset;
}
.product-item .tocart .span-add-to-cart{
  margin-left: 7px;
}
.product-item .tocart:hover{
  background: #fff;
  border-color:#495057;
}
.product-item .tocart:hover .span-add-to-cart{
  color:#495057;
}
.product-item .tocart:hover i{
  color: #495057
}
.product.data.items > .item.title > .switch-featured-products{
  background: #fff !important;
  border: unset !important;
  padding: unset !important;
}
.product.data.items > .item.title{
  padding: 0px 10px 5px 10px !important;
}
.product.data.items > .item.title.action > .switch-featured-products{
  color: #606da6 !important;
  border-bottom: 1px solid #606da6;
}
.product.data.items > .item.title.active > .switch-featured-products:before{
  position: absolute;
    content: "";
    height: 1px;
    background: #606da6;
    bottom: 0;
    width: 100%;
}
.product.data.items > .item.title:not(.disabled) > .switch-featured-products:active, .product.data.items > .item.title.active > .switch-featured-products, .product.data.items > .item.title.active > .switch-featured-products:focus, .product.data.items > .item.title.active > .switch-featured-products:hover{
  color: #606da6 !important;
}
.product.data.items > .item.content{
  border-top: unset !important;
}

a.product-item-link:hover{
  color:#495057;
  text-decoration: none;
}

.tabs-content {
    display: flex;
    justify-content: flex-end;
}

.tabs-content .item.title {
    margin-right: 20px;
    padding-bottom: 5px;
}

.tabs-content .item.title:last-child {
    margin-right: 0;
}

.tabs-content .item.title.active {border-bottom: 3px solid #606da6;}

.tabs-content .item.title.active .switch-featured-products {
    color: #606da6;

}
.tabs-content .item.title .switch-featured-products:hover{
  text-decoration: none;
}
a.switch-featured-products {
  color :black;
}

.product-item-details {
    position: relative;
}

.action.primary {
    background-image: none;
    /* background: #1979c3; */
    /* border: 1px solid #1979c3; */
    /* color: #ffffff; */
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    padding: 7px 15px;
    font-size: 1.4rem;
    box-sizing: border-box;
    vertical-align: middle;
}
.actions-secondary {
    position: absolute;
    top: -9px;
    right: -2px;
}
li.product-item:hover {
    box-shadow: 0 5px 30px 0 rgba(0,0,0,0.1);
}

a#all-product .main-products .nav-item .item-title.active .switch-featured-products {
    color: #606da6;
    border-bottom: 4px solid #606da6;
}

/*test*/
/* @media (max-width: 1359px){
    .home .featured-section .nav.nav-tabs {
        position: relative;
        left: 0;
    }
}
.home .featured-section .nav.nav-tabs {
    position: absolute;
    top: 6px;
    left: 35rem;
}
.home .nav.nav-tabs {
    border-bottom: none;
}
.nav.nav-tabs {
    margin: 0;
    border: 0;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
}
ul, ol {
    padding: 0;
}
ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
} */

/* DISPLAY NON REGULAR PRICE*/
.old-price, .price-label, .reviews-actions {
  display: none;
}